body {
  background-color: #e9f4f1;
}

.sidebar_cover {
  height: 100vh;
  background-color: white;
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-top: 20px;
  margin-bottom: 20px;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9f4f1;
  border-radius: 50%;
  margin-bottom: 15px;
  padding: 10px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.main_buttons {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  margin-bottom: 10px;
}

.main_buttons button,
.footer_buttons button {
  background-color: #ffffff;
  border-radius: 8px;
  border: none;
  display: flex;
  align-items: center;
  width: 152px;
  height: 32px;
  color: #116466;
  margin-bottom: 2px;
}

.main_buttons button:hover {
  background-color: #e9f4f1;
}

.link_page {
  text-decoration: none;
}

.footer_buttons {
  display: flex;
  flex-direction: column;
}

.page_icon {
  margin-left: 10px;
  margin-right: 21px;
}

.logout_link {
  text-decoration: none;
}

.footer_buttons {
  display: flex;
  flex-direction: column;
}

.footer_buttons button:hover {
  background-color: #e9f4f1;
}

.organization_name {
  margin-bottom: 10px;
  color: #2c3531;
}

.organization_admin {
  color: #116466;
}

.logout_link {
  text-decoration: none;
}
