.modal {
  height: 415px;
  width: calc(100% - 220px);
  max-width: 715px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.name_input {
  font-size: 18px;
}

.add_name {
  margin-top: 40px;
  background-color: #e9f4f1;
  height: 50px;
  width: 582px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.add_name input {
  height: auto;
  margin: 10px;
}

.manager {
  background-color: #e9f4f1;
  height: 50px;
  width: 582px;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.manager p {
  margin-left: 20px;
  font-size: 18px;
  color: #116466;
}

.arrow {
  margin-left: 280px;
  cursor: pointer;
}

.name_input {
  border: none;
  border-radius: 8px;
  background-color: #e9f4f1;
  margin-top: 20px;
  margin-left: 20px;
}

.buttons {
  display: flex;
  margin-top: 20px;
}

.submit_btn {
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  border: none;
  background-color: #116466;
  text-align: center;
  color: white;
}

.close_btn {
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  border: none;
  background-color: #116466;
  text-align: center;
  color: white;
  margin-left: 300px;
  display: flex;
}

.employee_table {
  width: 560px;
  border-collapse: separate;
  margin-top: 20px;
  border-spacing: 0 10px;
}

.employee_table thead {
  background-color: white;
}

.employee_table tbody {
  background-color: #e9f4f1;
}

.employee_table tbody tr {
  margin-bottom: -3px;
}

.employee_table th,
.employee_table td {
  padding: 10px;
  text-align: left;
}

.employee_table th {
  background-color: white;
}

.employee_table td {
  border-bottom: 1px;
}

.employee_table button {
  border: none;
  background-color: #e9f4f1;
  cursor: pointer;
}
.add_button {
  background-color: #e9f4f1;
}
