.employees_container {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  max-height: 93vh;
}

.buttons {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 19px;
}

.left_buttons {
  display: flex;
  background-color: white;
  height: 30px;
  width: 90px;
  border-radius: 10px;
  margin-left: 95px;
}

.right_buttons {
  display: flex;
  height: 30px;
  margin-left: auto;
  margin-right: 45px;
}

.filter_btn {
  background-color: white;
  border: none;
  color: #116466;
}

.filter_img {
  color: #116466;
  margin-top: 7px;
  margin-right: 5px;
  margin-left: 10px;
}

.search_employee {
  border: none;
  margin-right: 30px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.search_input {
  border: none;
  width: 180px;
  height: 25px;
  margin-left: 8px;
}

.search_img {
  margin-right: 10px;
}

.add_btn {
  display: flex;
  margin-right: 50px;
  padding: 0 15px;
  background-color: #116466;
  border-radius: 10px;
  border: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
}

.employee_card {
  margin-top: 40px;
  width: 279px;
  height: 253px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  flex: 0 0 calc(33.33% - 20px);
  margin-bottom: 20px;
}

.profile {
  background-color: #f7f9f9;
  height: 59px;
  width: 59px;
  margin-left: 30px;
  margin-top: 4px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 10px;
  padding: 10px;
}
.info {
  margin-left: 20px;
}

.name {
  display: inline-block;
  margin-right: 5px;
  font-size: 16px;
  margin-left: 20px;
}

.role {
  color: #116466;
  margin-top: 7px;
  font-size: 12px;
  margin-left: 20px;
}

.info_card {
  width: 244px;
  height: 111px;
  background-color: #f7f9f9;
  margin-left: 35px;
  margin-top: 7px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.information_img {
  position: absolute;
  margin-left: 270px;
  margin-top: -60px;
  margin-right: 18px;
}

.card_text {
  margin-top: 10px;
}

.department {
  margin-left: px;
  color: #116466;
  margin-top: 15px;
  margin-left: 20px;
}

.department_name {
  margin-left: 20px;
  color: black;
  margin-top: 7px;
  font-size: 12px;
}

.email {
  margin-top: 32px;
  margin-left: 20px;
  display: flex;
}

.employee_email {
  font-size: small;
  margin-left: 6px;
  color: black;
}

.top_cards,
.bottom_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 65px;
}

.cards {
  margin-top: 12px;
}

.role {
  color: #116466;
  margin-top: 7px;
  font-size: 12px;
  display: flex;
  align-items: baseline;
}

.role:not(:last-child)::after {
  content: ",";
  margin-right: 5px;
}
