.profile {
  background-color: #f7f9f9;
  height: 90px;
  width: 90px;
  margin-left: 40px;
  margin-top: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 10px;
  padding: 10px;
}

.employee {
  display: flex;
  align-items: center;
  margin-left: 100px;
  position: relative;
}

.arrow_img {
  margin-left: 5px;
}

.name {
  font-size: 28px;
  margin-bottom: 12px;
}

.role {
  font-size: 23px;
  color: #116466;
  display: flex;
  justify-content: baseline;
}

.info {
  margin-left: 16px;
  margin-top: 17px;
}

.employee_info {
  height: 350px;
  width: 700px;
  background-color: #116466;
  margin-top: 50px;
  margin-left: 150px;
  border-radius: 10px;
  position: relative;
}

.department {
  margin-left: 30px;
  top: 20px;
  position: absolute;
  display: flex;
  color: white;
  font-size: 25px;
}

.email {
  position: absolute;
  margin-top: 300px;
  display: flex;
  margin-left: 400px;
}

.employee_email {
  color: white;
  margin-left: 5px;
}

.skills {
  top: 60px;
  margin-left: 30px;
  display: flex;
  align-items: center;
  color: white;
  position: absolute;
}

.skills p {
  font-size: 18px;
  margin-bottom: 85px;
}

.skills_container {
  margin-top: 10px;
}

.skill_name {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 15px;
}

.skill_name img {
  margin-right: 5px;
  margin-left: 7px;
}

.skill_name p {
  margin: 0;
  font-size: 18px;
}

.modal {
  position: absolute;
  background-color: #f7f9f9;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  top: 30px;
  left: 700px;
  width: 300px;
  height: 150px;
  overflow-y: auto;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #116466;
}

.select {
  font-size: 20px;
  margin-bottom: 10px;
  color: #116466;
}

.select:hover {
  color: #116466;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  cursor: pointer;
  padding: 5px 0;
  transition: color 0.2s ease;
  list-style-type: none;
  margin-left: 5px;
}

ul li:hover {
  color: #116466;
}
