::placeholder {
  color: #116466;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.page {
  display: flex;
  max-height: 100vh;
}

.sidebar {
  width: 220px;
  flex-shrink: 0;
}

.contents {
  flex-grow: 1;
  padding: 20px;
  overflow: auto;
}

button {
  letter-spacing: 1px;
}
